body {background:#ebedf4; font-family: Arial, Helvetica, sans-serif;}

#contentNormal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	font-weight: 100;
	text-align: left;
	padding: 0px 10px 10px 10px;	
    color: #666;
    line-height: 16px;
}

#contentBold{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 10px 10px 10px 10px;	
    color: #666;
    line-height: 16px;
}

#bullet{
	float: left;
	width: 20;
	height: 20px;
	text-align: left;
	vertical-align: middle;
}

#contentBullet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	font-weight: 100;
	text-align: left;
	padding: 0px 10px 10px 10px;	
    color: #666;
    line-height: 16px;
}

#copyright {
	float:right;
    text-align: left;
    padding: 0 0 10px 0;
}

#crbottom {
	width: 751px;

}

  
/***********************************************************************/
	/* 8 - FORMS */
/************************************************************************/

.field, .fieldarea, .dropdown { 
	background: #ffffff; 
	font-family: arial, sans-serif;
	font-size: 10pt;
	color: #000000;
	border-color: #cecece; 
	border-style: solid; 
	border-width: 1px; 
	padding: 1px 1px 2px 3px; 
}

.dropdown { 
	padding: 0; 
}





.header {
    font-size : 12px;
}


.text, .input {
    font-size : 14px;
}

.text, .header, .input {
    font-family : Arial, Helvetica, sans-serif;
}

.smalltext {
    font-size : 10px;
    font-family : Arial, Helvetica, sans-serif;
}

.text, .smalltext, .header {
    color : #000000;
}

.input {
    color : #000000;
}

a, a.text, a.smalltext {
    text-decoration : none;
}

a:hover, a.text:hover, a.smalltext:hover {
    text-decoration : underline;
}

.pageIndexLink {
    text-decoration : none;
    color : #333333;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
}

.pageIndexLink2 {
    text-decoration : underline;
    color : #00adee;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
}

.indexLogoTD {
  background-color : #FFFFFF;
}
/* INPUT - UPDATE FORM */
.inputFrmTBL {
    background-color : #ebedf4;
}
.inputFrmHeader {
    font-family : Arial, Helvetica, sans-serif;
    background-color : #cccccc;
    color : #333333;
    font-size : 12px;
    font-weight : bold;
}
.inputFrmFooter {
    font-family : Arial, Helvetica, sans-serif;
    background-color : #ebedf4;
    color : #000000;
    font-size : 12px;
}
.inputFrmLabelTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : #333333;
    background-color : #ffffff;
}

.inputFrmLabelTDheader {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : #333333;
    background-color : #ffffff;
  border-bottom : 1px dotted #cccccc;    
}

.inputFrmFieldTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 11px;
    color : #000000;
    background-color : #FFFFFF;
}
.inputFrmField {
  padding:5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  text-decoration : none;
  color : #333333;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 14px;
  font-weight : normal;
  border-top : 1px solid #cccccc;
  border-bottom : 1px solid #cccccc;
  border-left : 1px solid #cccccc;
  border-right : 1px solid #cccccc;
  background-color : #ffffff;
}
.inputFrmFieldFocus {
  padding:5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  text-decoration : none;
  color : #333333;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 14px;
  font-weight : normal;
  border-top : 1px solid #00adee;
  border-bottom : 1px solid #00adee;
  border-left : 1px solid #00adee;
  border-right : 1px solid #00adee;
  background-color : #ebedf4;
}
.inputFrmBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    BACKGROUND-COLOR: #C0C0C0;
    BORDER: #00adee 4px solid;
    CURSOR: hand;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}
.inputFrmBtnOver {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color : black;
    BACKGROUND-COLOR: #00adee;
    BORDER: #C0C0C0 4px solid;
    CURSOR: hand;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}


/* SEARCH FORM */
.searchFrmTBL {
    background-color : #ebedf4;
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.75);
}

.menuPathTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 18px;
    font-weight : normal;
    color : #00adee;
    text-shadow: -1px -1px 0 #FFFFFF;
    text-align : middle;
}

.searchFrmTD {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}
.searchFrmInput {
  text-decoration : none;
  color : #333333;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 14px;
  font-weight : normal;
  border-top : 1px solid #cccccc;
  border-bottom : 1px solid #cccccc;
  border-left : 1px solid #cccccc;
  border-right : 1px solid #cccccc;
  background-color : #ebebeb;
}
.searchFrmSelect {
  text-decoration : none;
  color : #000000;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 14px;
  font-weight : normal;
  border-top : 1px solid #cccccc;
  border-bottom : 1px solid #cccccc;
  border-left : 1px solid #cccccc;
  border-right : 1px solid #cccccc;
  background-color : #ebebeb;
  width: 155px;
}

.searchCalendarTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10px;
    color : #000000;
}

.searchCalendarSelect {
  text-decoration : none;
  color : #000000;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 11px;
  font-weight : normal;
  border-top : 1px solid #778ea0;
  border-bottom : 1px solid #778ea0;
  border-left : 1px solid #778ea0;
  border-right : 1px solid #778ea0;
  background-color : #ebebeb;
  width: 65px;
}


.searchFrmInputFocus {
  text-decoration : none;
  color : #333333;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 14px;
  font-weight : normal;
  border-top : 1px solid #778ea0;
  border-bottom : 1px solid #778ea0;
  border-left : 1px solid #778ea0;
  border-right : 1px solid #778ea0;
  background-color : #FFFFFF;
}
.searchFrmBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    BACKGROUND-COLOR: #C0C0C0;
    BORDER: #00adee 4px solid;
    CURSOR: hand;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}

.searchFrmBtnOver {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    BACKGROUND-COLOR: #00adee;
    BORDER: #C0C0C0 4px solid;
    CURSOR: hand;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}

.calendarBtn {
    text-decoration : none;
    color : #FFFFFF;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 11px;
    font-weight : normal;
    border : none;
    padding : 0px;
}


.loginTBL {
    background-color : #ffffff;
    width:500px;
    
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.75);
}
.loginFrmHeader {
    font-family : Arial, Helvetica, sans-serif;
    background-color : #f5f5f5;
    color : #333333;
    font-size : 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight : bold;
      border-bottom : 1px solid #cccccc;
}
.loginTR {
    background-color : #ffffff;
}
.loginFooterTR {
    background-color : #ffffff;
}
.loginFrmLabelTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : #333333;
    text-shadow: 0 1px 0 #FFFFFF;    
    background-color : #ffffff;
}
.loginFrmFieldTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : #333333;
    background-color : #ffffff;
}
.loginFrmBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    CURSOR: hand;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

    border-color: #CCCCCC #BBBBBB #A0A0A0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #00adee;
    margin: 0;
    outline: medium none;
    padding: 3px 8px;    

}
.loginFrmBtnOver {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    CURSOR: hand;
    background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    margin: 0;
    outline: medium none;
    padding: 3px 8px;    
}
.loginFrmField {
  text-decoration : none;
  color : #333333;
  padding: 6px 4px 6px 6px;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 16px;
  font-weight : normal;
  border-top : 1px solid #cccccc;
  border-bottom : 1px solid #cccccc;
  border-left : 1px solid #cccccc;
  border-right : 1px solid #cccccc;
  background-color : #FFFFFF;
}

/* RESULTS */
.resultsTBL {
    background-color : #ebedf4;
}
.resultsHeader {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : #333333;
    background-color : #cccccc;
    font-weight : normal;
}
.resultsLabelTR {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    text-shadow: -1px -1px 0 #FFFFFF;    
    color : #333333;
    background-color : #ffffff;
    font-weight : bold;
}
.resultsLabelTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : #333333;
}
.resultsDataTR {
    background-color : #FFFFFF;
}
.resultsDataTROver {
background: rgb(5,129,175); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1ODFhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGFkZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(5,129,175,1) 0%, rgba(0,173,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,129,175,1)), color-stop(100%,rgba(0,173,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(5,129,175,1) 0%,rgba(0,173,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(5,129,175,1) 0%,rgba(0,173,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(5,129,175,1) 0%,rgba(0,173,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(5,129,175,1) 0%,rgba(0,173,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0581af', endColorstr='#00adee',GradientType=0 ); /* IE6-8 */

    color : #ffffff;
}

.resultsDataTROver a {
    color : #ffffff;
}
.resultsDataTD {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : #333333;
}

.resultsDataTROver .resultsDataTD {
    color : #ffffff;
}

.resultsDataTDOver {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    color : #ffffff;
}
.resultsFooterTR {
    background-color : #ebedf4;
}
.resultsLink {
    text-decoration : none;
    color : #00adee;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    font-weight : normal;
}
.resultsLink2 {
    text-decoration : none;
    color : #00adee;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
    font-weight : normal;
}

.indexLink {
    text-decoration : none;
    color : #00adee;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 14px;
    font-weight : normal;
}
/* for tinyMCE */

.boldnavgray { 
	text-decoration : none; 
	color : #7489A6; 
	font-family : arial,helvetica; 
	font-size : 8pt; 
	font-weight : bold; 
}
.boldnavorange { 
	text-decoration : none; 
	color : #FB9A02; 
	font-family : arial,helvetica; 
	font-size : 8pt; 
	font-weight : bold; 
}

#lightblue {color : #0068CC;}
#black {color : #000000;}
#green {color : #004000;}
#white {color : #FFFFFF;}
#blue {color : #000066;}
#red {color : #CC0033;}
#gray {color : #888888;}
#orange {color : #FF9900;}

/*MENU*/
#header #menu {background-color: #f8f8f8; border-bottom:1px solid #cccccc; float:left;line-height:normal;margin:0;padding:0;width:100%;}
#header #menu li.maintab{float:left;height:29px;list-style:none;margin:0 1px 0 0;list-style:none;display:block; border-left:1px solid #fff; border-right:1px solid #ccc;}
#header #menu li:first-child { margin-left:20px;}
#header #menu li.submenu_size .title{cursor:default;color:#000;display:block; padding:8px 12px 4px 0;font-weight:normal;font-size:14px;}
#header #menu li.submenu_size .title{_display:inline;_padding:6px 5px 4px 0}
#header #menu li{_height:32px;_padding-top:3px}
#header #menu img {display:inline; padding:0 10px 0 6px; margin-top:-4px; vertical-align:middle;width:16px;height:16px}
#header #menu li.active, #header #menu li:hover{background-position:0 -38px;white-space:nowrap;}
#header #menu li.active a{}
#header #menu li:hover, #header #menu li.active {background-color:#49B2FF;}
#header #menu li.maintab:hover, #header #menu li.active {border-left:1px solid #49B2FF;border-right:1px solid #49B2FF;}
#header #menu li.active span.title, #header #menu li:hover span.title {color:#fff; text-shadow: -1px -1px 0 #3293D6;}
#header #menu .submenu{background:#f8f8f8;clear:both;margin:0;padding:0;border:1px solid #d9d9d9;z-index:9999; box-shadow: 1px 5px 5px #CCCCCC; -moz-box-shadow:1px 5px 10px #CCCCCC; -webkit-box-shadow:1px 5px 10px #CCCCCC;}
#header #menu .submenu li{list-style:none;margin:0;padding:0;display:block;min-width:150px;}
#header #menu .submenu li a{ font-size:14px;display:block;padding: 5px 15px 5px 10px; color:#666666;border-top:1px solid #fff; border-bottom:1px solid #ccc;}
#header #menu .submenu li a:hover { background-color:#eee; text-shadow:0 1px 0 #fff;}
#header #menu .submenu_size .submenu {display: none; position: absolute;}
#header #menu .submenu_size:hover > .submenu {display: block;}
#header #menu .submenu li {clear: left;float: none;}
#header #menu a {text-decoration: none;}