/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #footerBottom {padding: 20px 15px 30px;}
  .copyright {float: right;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #mobile-wrapper {display: none;}
  
  #headerContainer {display: block; z-index: 300; background: transparent url('/images/header_bg.png') no-repeat center top;}
  
  .megamenu_container {display: block;}
  
  #headerLogoLinks {height: 100px;}
  #headerWrapper {height: 149px;}
  #headerContainer {height: 149px; z-index: 300; position: fixed; top: 0; width: 100%; background:transparent url('/images/header_bg.png') no-repeat center top;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}