body {background: transparent url('/images/body_bg.jpg') no-repeat center top;}

#topMenuPath {height: 200px; width: 980px; margin: 0 auto;}

#contentContainer {background-color: #ffffff; min-height: 300px;}

/** ===================================

  Header

======================================== **/
#headerWrapper {height: 65px; margin-bottom: 10px;}

#headerContainer {display: none;}
.megamenu_container {display: none;}

#headerLogo img {max-width: 300px;}

#accountWrap {padding-top: 20px;}
#searchCartWrap {padding-top: 20px;}

#fastMenu {float:left;}
#fastMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#fastMenu li {
  float:left;
  margin:0 0 0 10px;
  padding:0 0 0 10px;
  border-left:1px solid #cccccc;
}
#fastMenu li.first {
  margin:0;
  padding:0;
  border:medium none;
}
#langSelector {float: left; margin: 0 0 0 20px;}

#minicartBar {float: left; height: 15px; margin-left: 20px; padding: 5px 0 5px 5px;}

#top_shop_links{float:right; margin:10px 0 0 0}
#top_shop_linksCart{float:left; margin:0 10px 0 0}
#top_shop_linksMyaccount{float:left; margin:0 20px 0 0}

#homeContainerMain {padding:20px 0 0 0; background-color:#ffffff;}
#homeContainerMainContent {float:left; width:750px;}

#contentWrapper{margin:0; padding-top:0;}
#content {float:left; width:748px; line-height:20px;}

#contactContainer {width: 980px; margin:0 0 0 0;}
#contactForm {background-color:#ffffff; float:left; width:450px; padding:20px 0 0 0;}
#contactFormRight {float:right; padding:20px 0 0 0; width:370px;}
#google_map_canvas {width: 978px; height:300px; border:1px solid #cccccc; margin-top:10px;}

#shopcart-title {margin-bottom:20px; font-size:22px;}

.shopcart-table {margin:0; padding:0;}
.shopcart-prdline td {padding:10px 0 10px 0; border-bottom:1px dotted #000000}
.shopcart-header-row tr {-moz-border-radius:7px 7px 7px 7px; border:1px solid #000000; font-size:13px;}
.shopcart-header-row td {border-bottom:1px dotted #000000; padding:10px;}
.shopcart-totalrow td {padding-top:10px;}
.shopcart-totalrow td h2 {display:inline;}

#productSearchCatDescr{margin:0 0 15px 0}
#productSearchFor{margin:0 0 15px 0}

.item-box-spacer {margin-bottom: 20px;}
/**.item-box-wrapper {width: 202px; height: 286px; float: left; margin-right: 32px; position: relative;}**/
.item-box-image img {max-width: 100%;}
.item-box-image {position: relative; border: 1px solid #e5e5e5; /**width: 202px; height: 202px;**/}
.item-box-name {height: 50px; padding: 5px 0 0 0; overflow: hidden;}
.item-box-bottom {height: 34px; margin-top: 2px; background-color: #e0e0e0;}
.item-box-price {float: left; padding:0 0 0 0; font-weight: bold;}
.item-box-addcart {float: left;}
.item-box-amount {float: left; padding:0 0 0 10px; font-size: 16px; line-height: 34px;}
/**.item-box-wrapper.item-last {margin-right:0;}**/

#rvpbox {width:100%; margin-top:20px;}
#rvpbox-title {color:#343333; padding-bottom:5px; margin-bottom:10px; border-bottom:1px dotted #cccccc; font-weight: normal;}
#rvpbox-items-list {padding:0;}
#rvpbox img {border:1px solid #cccccc;}
.rvpbox-item {width:80px; float:left; margin-right:23px; font-size:85%}
.rvpbox-item-last {margin-right:0;}
.rvpbox-item-name a{color:#666666;}

.addtocart_textbtn {float:left; height:21px; margin-left:2px; padding:5px 20px; background-color:#29a8df; line-height:21px;}
.addtocart_textbtn .addtocart {color:#ffffff;}

tr.prdOptionTR {background-color:#f3f3f3;}
td.prdOptionTD {color:#000000;}
td.prdOptionTD h1 {font-size:12px; font-weight:normal; color:#000000; display:inline;}

#checkout-steps-wrapper {margin:0 0 20px 0;}
#checkout-steps {
    padding:9px 0 8px 0;
    background: url("/images/sprite.png") repeat-x left -548px transparent;
    border:1px solid #E5E5E5;
}
#checkout-steps ul {float:left; background: url("/images/sprite.png") repeat-x 0 -590px transparent;}
#checkout-steps ol, #checkout-steps ul {
    list-style: none outside none;
    margin:0; padding:0;
}
#checkout-steps ul li {line-height: 1em; float:left; padding:0 0 0 25px; background:url('/images/sprite.png') no-repeat scroll 0 0 transparent; font-size:14px; text-transform:uppercase;}

#checkout-steps ul .num1 {width:225px; background-position:0 -606px;}
#checkout-steps ul .num2 {width:225px; background-position:0 -635px;}
#checkout-steps ul .num3 {width:225px; background-position:0 -664px;}
#checkout-steps ul .num4 {float:right; background-position:0 -693px;}

#checkout-steps ul .num1.active {background-position:0 -620px;}
#checkout-steps ul .num2.active {background-position:0 -649px;}
#checkout-steps ul .num3.active {background-position:0 -678px;}
#checkout-steps ul .num4.active {background-position:0 -707px;}

#checkout-steps ul li span {
    background: url('/images/sprite.png') repeat-x scroll 0 -822px transparent;
    color:#969898;
    padding-right: 10px;
    text-decoration: none;
}
#checkout-steps ul li.active span {
    color: #000000;
}

/* start: CONTACT US */
.contact {color: #FEFEFE; float: left; margin: 0 0 0 40px; padding: 60px 0 0 20px; width: 412px;}
.contact h1 {color: #FEFEFE; float: left; font-size: 11px; font-weight: normal; margin: 0; padding: 5px 0 0 0; width: 150px;}
.contact h2 {color: #FEFEFE; float: left; font-size: 11px; font-weight: normal; margin: 0; padding: 10px 0 0 0; width: 250px;}
.contact .contactbox {background: url('/images/contact_textbox.png') no-repeat; border: none; float: left; font-size: 11px; height: 25px; margin: 0 0 4px 0; padding: 0; width: 227px;}
.contact .contactbox input.textbox {background: none; border: none; float: left; font-size: 11px; height: 20px; margin: 0 0 0 11px; padding: 5px 0 0 0; width: 205px;}
.contact input.checkbox {float: left; margin: 5px 0 0 11px;}
.contact input.send {float: right; margin: 5px 35px 0 0;}
.contact img.send {float: right; margin: 0;}
.contact .contacttext {background: url('/images/contact_textarea.png') no-repeat; border: none; float: left; font-size: 11px; height: 85px; margin: 0 0 4px 0; padding: 0; width: 228px;}
.contact .contacttext textarea {background: none; border: none; float: left; font-size: 11px; height: 75px; margin: 5px 0 0 11px; padding: 0; width: 214px;}

#contactInformation { float:left; padding-left:20px; }
/* end: CONTACT US */

#prdCatalogPath {margin-bottom: 20px;}
#prdCatalogPath h3, #prdCatalogPath h3 a {font-weight: normal; color: #000000; text-decoration: none; font-size: 14px; display: inline;}
#prdCatalogPath h3 a:hover {text-decoration: underline;}

#shipMethodWrapper {margin:20px 0 10px 0;}
#shipMethodTitle {font-weight:bold; height:21px;}
#shipMethodSection {padding:5px 0px 10px 0px;}
#shipMethodSection .item {padding:10px 0 10px 0;}
#shipMethodSection .item.selected {color:#000000; background-color:#e9e9e9; border:0px solid #86E491;}
#shipMethodSection .checkbox {float:left; width:40px;}
#shipMethodSection .info {float:left; width:500px;}
#shipMethodSection label {position:relative; display:block;} 
#shipMethodSection label .price {position:absolute; right:0px;}

/**#shopWrapper {border:1px #ffffff solid; -moz-border-radius:7px 7px 7px 7px; background-color:#ffffff; padding:10px; margin:0 auto; min-height:350px}**/

#cart-table li {margin:0; padding:0}
#cart-table .title {-moz-border-radius:7px 7px 7px 7px; border:1px solid #cfcfcf; height:25px; padding:8px 10px 0 10px; font-size:15px; color:#343333; font-weight:bold; background-color:#cfcfcf; margin-bottom:10px; background-image:url(/images/button_highlighter.png); background-repeat:repeat-x;}
#cart-table .title div {float:left;}
#cart-table .items {width:518px;}
#cart-table .price {width:100px; margin-left:20px;}
#cart-table .qty {width:120px;}
#cart-table .total {width:160px;}

#cart-table .product-line {padding:0 10px; clear:left; height:90px; border-bottom:1px dotted #cccccc; margin-bottom:10px;}
#cart-table .product-line div {float:left;}
#cart-table .product-line .product-image {width:80px; border:1px solid #cccccc; margin-right:5px;}
#cart-table .product-line .product-descr {width:432px; margin-top:25px;}
#cart-table .product-line .product-price {width:100px; margin-left:20px; margin-top:25px;}
#cart-table .product-line .product-qty {width:120px; margin-top:25px;}
#cart-table .product-line .product-total {width:120px; margin-top:25px; font-weight:bold;}
#cart-table .product-line .product-remove {width:40px; margin-top:25px;}

#cart-table .cart-total-row div {float:left; margin:15px 0 0 0;}
#cart-table .cart-total-row .cart-tips {width:680px; text-align:right; margin-top:20px;}
#cart-table .cart-total-row .cart-total {height:31px; padding:7px 20px 0 20px; color:#343333; float:right;}
#cart-table .cart-total-row .cart-total h2 {display:inline; color:#565656; font-size:20px; margin:0; padding:0;}
#cart-table .cart-total-row .cart-total h2.shopcart-totalnum {color:#000000;}

.sectionHeader {-moz-border-radius:7px 7px 7px 7px; border:1px solid #cfcfcf; height:25px; padding:8px 10px 0 10px; font-size:15px; color:#343333; font-weight:bold; background-color:#cfcfcf; margin-bottom:10px; background-image:url(/images/button_highlighter.png); background-repeat:repeat-x;}

.formInput span {line-height:24px; float:left; width:150px; text-align:right; vertical-align:middle; margin-right:10px;}
.formInput input {float:left;}
.formInput div {margin-top:10px;}

#cart-table-checkout li {margin:0; padding:0}
#cart-table-checkout .title {-moz-border-radius:7px 7px 7px 7px; border:1px solid #cfcfcf; height:25px; padding:8px 10px 0 10px; font-size:15px; color:#343333; font-weight:bold; background-color:#cfcfcf; margin-bottom:10px; background-image:url(/images/button_highlighter.png); background-repeat:repeat-x;}
#cart-table-checkout .title div {float:left;}
#cart-table-checkout .items {width:318px;}
#cart-table-checkout .price {width:80px; text-align:right; margin-left:20px;}
#cart-table-checkout .qty {width:90px; margin-left:60px;}
#cart-table-checkout .total {width:100px; text-align:right;}

#cart-table-checkout .product-line {padding:0 10px; clear:left; height:50px; border-bottom:1px dotted #cccccc; margin-bottom:10px;}
#cart-table-checkout .product-line div {float:left;}
#cart-table-checkout .product-line .product-descr {width:318px; margin-top:0px;}
#cart-table-checkout .product-line .product-price {width:80px; margin-left:20px; margin-top:0px; text-align:right;}
#cart-table-checkout .product-line .product-qty {width:100px; text-align:right; margin-left:20px; margin-top:0px;}
#cart-table-checkout .product-line .product-total {width:100px; text-align:right; margin-top:0px; margin-left:30px;}

.cart-total-checkout {-moz-border-radius:7px 7px 7px 7px; border:1px solid #cfcfcf; height:31px; margin:10px 0 0 0; padding:7px 20px 0 20px; color:#343333; background-color:#cfcfcf; float:right; background-image:url(/images/button_highlighter.png); background-repeat:repeat-x;}
.cart-total-checkout h2 {display:inline; color:#ffffff; font-size:20px; margin:0; padding:0;}
.cart-total-checkout h2.shopcart-totalnum {color:#000000;}

#payMethodWrapper {margin:20px 0 0 0;}

h2.homeTitle {font-size: 20px; margin-bottom: 12px; border-bottom: 2px solid #eaeaea; padding-bottom: 8px; color: #58595b;}

.megamenu .myprdmenu ul {list-style: none outside none;}
.megamenu .myprdmenu ul.level-1 {margin:0 0 15px 0; padding:0;}
.megamenu .myprdmenu ul.level-2 {margin:0; padding:0;}
.megamenu .myprdmenu ul.level-3 {margin:0 0 0 10px; padding:0;}
.megamenu .myprdmenu ul li {line-height: 18px !important;}
.megamenu .myprdmenu ul li > a {
  color: #565656 !important;
  display: block;
}
.megamenu .myprdmenu ul li > a:hover {
  color: #333333 !important;
}
.megamenu .myprdmenu li.level-1 > a {
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: dotted 1px #c0c0c0;
  margin-bottom: 10px;
  font-weight: bold;
}
.megamenu .myprdmenu li.level-2 > a {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.megamenu .myprdmenu li.level-3 > a {
  font-size: 13px;
  margin-bottom: 5px;
}


#ccShopCartWrapper {width:700px; float:left;}
#ccCustomerInfoWrapper {width: 220px; margin-left: 20px; float:left;}

a.prdcCatnameLink {color: #565656; font-weight: normal;}
a.prdcCatnameLink:hover {color: #333333;}

#fastMenuWrapper {margin-bottom:20px;}

#topLangSel {float:left; margin-right:5px;}
#topLangLGSel {float:left;}

.product_labels {
  position: absolute;
  top: 0;
  right: 2px;
  text-align: right;
}
.product_labels p {
  margin: 4px 2px 6px 0;
  padding: 0;
  font-size: 12px;
}
.product_labels span {
  background-position: left center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 3px 3px 7px;
  text-align: right;
}
.newlabel {
  background-image: url("/images/heylabel_green.gif");
}
.heylabel {
  background-image: url("/images/heylabel_red.gif");
}

#checkoutSubtotal {width:678px; text-align:right; font-weight:bold;}
#checkoutShipCost {width:678px; margin-top:10px; text-align:right; font-weight:bold;}

#topLangSel img, #topLangLGSel img {width: 16px;}

#megamenuAllCategories img {max-width: 220px;}
#megamenuAllCategories #megamenuAllCategoriesBlock hr {margin: 0 0 12px 0;}
#megamenuAllCategories #megamenuAllCategoriesBlock a {float: right; font-weight: bold;}
#flyoutAllCategories hr {margin: 6px 0 6px 0;}
#flyoutAllCategories a {font-weight: bold;}

.post {margin-bottom: 60px;}
h5.entry-title {font-size: 150%;}
.post .entry-title {margin-bottom: 15px;}
.post .post-content {color: #747474;}
.post .post-content p {margin: 0 0 15px 0; padding: 0}
.post .meta-info {
  border-bottom: 1px solid #E0DEDE;
  border-top: 1px solid #E0DEDE;
  line-height: 34px;
  font-size: 12px;
  color: #747474;
}

.fl {float: left;}
.fr {float: right;}
.ml {margin-left: 10px;}
.mr {margin-right: 10px;}
.mb {margin-bottom: 10px;}
.mt {margin-top: 10px;}

/** ============== Menu? ============== **/
ul#navmenu,
ul#navmenu li,
ul#navmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 200px; /*For KHTML*/
  list-style: none;
}

ul#navmenu:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu li {
  float: left; /*For IE 7 lack of compliance*/
  display: block !important; /*For GOOD browsers*/
  display: inline; /*For IE*/
  position: relative;
}

/* Root Menu */
ul#navmenu a {
  border-bottom: 1px solid #363636;
  border-top: 0px solid #363636;
  border-bottom-color: #363636;
  text-align: left;
  padding: 0 10px;
  display: block;
  background: #050608;
  color: #ff6600;
  font: bold 11px/22px Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 28px !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  background: #ff6600;
  color: #ffffff;
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  background:#ff6600;
  color: #050608;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  background: #000000;
  color: #ffffff;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

ul#navmenu ul,
ul#navmenu ul ul,
ul#navmenu ul ul ul {
  display:none;
  position:absolute;
  top:0;
  left:200px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,ul#navmenu li:hover ul ul ul,ul#navmenu li.iehover ul ul,ul#navmenu li.iehover ul ul ul {
    display: none;
}

ul#navmenu li:hover ul,ul#navmenu ul li:hover ul,ul#navmenu ul ul li:hover ul,ul#navmenu li.iehover ul,ul#navmenu ul li.iehover ul,ul#navmenu ul ul li.iehover ul {
  display: block;
}

/** ===================================

  Bottom

======================================== **/
#footerNavWrapper {color: #666666; margin: 0 auto;}

#footer {width: 100%; padding: 20px 0 10px 0; background: transparent url('/images/footer_bg.png') no-repeat center top; margin-top: 20px;}

#footerNav h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  border-bottom: 1px solid #cccccc;
}
#footerNav .column {margin-bottom: 20px;}
#footerNav .column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #666666;
}
#footerNav .column li {padding: 0 0 8px 0;}
#footerNav a {font-size: 14px; color: #666666;}
#footerNav a:hover {text-decoration: underline;}

#footerBottomWrapper {background: transparent url('/images/footer2_bg.png') no-repeat center top;}
#footerBottom, #footerBottom a {color:#000000;}
#footerBottom img {vertical-align:middle; display:inline;}

#leftNewsLetterFrameContainer {text-align: left; color: #666666; margin-bottom: 15px;}
#leftNewsLetterFrame input.form-text {
    font-family:Arial, Tahoma, "Trebuchet MS";
    color: #666666;
    padding: 5px;
    width: 145px;
    outline: medium none;
}
#leftNewsLetterFrame input {
    background:url("/images/newsletter_field_bg.png") no-repeat transparent;
    border:medium none;
    float:left;
    margin:0;
    padding:0;
}
#leftNewsLetterFrame input.btn {
    background-position: 100% 0;
    font-size: 0;
    height: 23px;
    line-height: 999px;
    overflow: hidden;
    text-indent: -9999px;
    width: 25px;
    cursor:pointer;
}
#leftNewsletterValidatorErrorMessages {margin:5px 0 0 0; color:red;}

.copyright {display: block; padding: 20px 0 10px 0;}

/** ===================================

  Product search

======================================== **/
#product-search-top-wrapper {float: left; width: 320px;}
#product-search-top {width: 100%;}
#product-search-top form, #mobileSearchForm {
  position: relative;
}
#product-search-top input {
  margin: 0;
  padding-right: 43px;
}
#product-search-top .submit, #mobileSearchForm .submit {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #ccc;
  height: 34px;
  width: 34px;
  outline: medium none;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 0;
  border-width: 0;
  text-decoration: none;
}
#product-search-top .submit .glyphicon, #mobileSearchForm .submit .glyphicon {
  line-height: 20px;
}
#product-search-top .empty-message, #mobileSearchForm .empty-message {
  padding: 5px 10px;
  text-align: center;
}
#product-search-top .footer-message, #mobileSearchForm .footer-message {
  padding: 5px 10px;
  text-align: left;
  border-top: 1px solid #ccc;
}

/** ===================================

  Typeahead search

======================================== **/
.tt-hint {
  font-size: 14px;
}
.tt-dropdown-menu {
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index: 99999 !important;
}
.tt-suggestion {
  padding: 5px 10px;
}
.tt-suggestion p {font-size: 14px;}
.tt-suggestion.tt-cursor {
  background-color: #97ca4b;
  cursor: pointer;
}
.tt-suggestion.tt-cursor p {
  color: #ffffff;
}
.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead {
   width: 100%;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a {
  color: #ffffff;
}

/** ===================================

  Mobile header

======================================== **/
#mobile-wrapper {
  z-index: 999;
  position: fixed;
  background: #000000;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
}
#mobile-nav {
  float: left;
  width: 100%;
}

.mobileMenuBtnWrap {
  float: left;
  width: 20%;
}
#mobile-menu-link {
  height: 30px;
  float: left;
  margin: 17px 0 0 15px;
  padding-top: 7px;
}
#mobile-menu-link .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  background-color: #ffffff;
}
#mobile-menu-link .icon-bar + .icon-bar {
  margin-top: 4px;
}

.mobileLogoWrap {
  float: left;
  width: 50%;
}
a#mobile-logo img {
  width: 160px;
  margin: 12px auto;
}

.mobileAccountWrap {
  float: left;
  width: 30%;
}
.mobileAccountContainer {
  float: right;
  padding-top: 22px;
}
.mobileAccountContainer div {
  float: left;
}
.mobileAccountContainer div a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 18px;
}

.mobileAccountContainer .mobileCartContent {
  position: relative;
}
.mobileCartContent .cartItemsCount {
  color: #ffffff;
  background-color: red;
  position: absolute;
  height: 20px;
  min-width: 23px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50%;
  right: 5px;
  top: -15px;
  padding: 0 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.mobileCartContent.hasProducts .cartItemsCount {
  opacity: 1;
  visibility: visible;
}

/** ===================================

  Login page

======================================== **/
#newCustomerWrapper {margin-bottom: 20px;}
#signinForgPasswdWrapper {}